@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Konkhmer+Sleokchher&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Inter";
    background-color:#232323;
    color: #DBD6C8;
}
#nav{
    background: #A31B1E;
}
#nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
}
.nav-listing{
    display: flex;
    align-items: center;
    list-style: none;
    padding-right: 3vw;
}
.nav-listing a{
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #DBD6C8;
    font-family: "konkhmer Sleokchher";
}
.nav-listing a:hover{
    color: #232323;
}
#nav-logo{
    display: flex;
    align-items: center;
}
#nav-logo img{
    padding: 0 22px;
    max-width:6vw ;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    padding: 20px 0;
    width: auto;
    background: #A31B1E;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li:hover ul.dropdown{
    display: block;
}
#SD{
    background-image:url(Images/AdobeStock_826654348\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
}
#SmartDrive{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#SmartDrive h1{
    font-family: "Konkhmer Sleokchher";
    font-size: 106px;
    margin: 0;
}
#SmartDrive p{
    font-family: Castoro;
    font-size: 50px;
    margin: 0;
}
main h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Castoro;
    font-size: 45px;
    margin: 4vw 0;
}
#header-txt{
    font-size: 18px;
    padding: 2vw 10vw 0;
}
#CTA{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin:0 10vw 5vw ;
    gap: 1vw;
}
#CTA a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A31B1E;
    width: 7vw;
    height: 3.5vw;
    border: #A31B1E solid 1px;
    border-radius:12px ;
    color: #DBD6C8;
    text-decoration: none;
    font-size: 14px;
    font-family: "Konkhmer Sleokchher";
}
#CTA a:hover{
    color: #A31B1E;
    background-color: #DBD6C8;
    border: #DBD6C8 solid 1px;
}
#card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2vw;
    margin:0 10vw 10vw ;
}
#card img{
    width: 3vw;
}
#card a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 18.5vw;
    height: 12vw;
    color: #232323;
    background-color: #DBD6C8;
    border: #DBD6C8 solid 1px;
    border-radius: 1vw;
    text-decoration: none;
    font-size: 24px;
    font-family: "Konkhmer Sleokchher";
    gap: 1vw;
}
#card p{
    margin: 0;
}#card a:hover{
    background-color: #A31B1E;
    border: #A31B1E;
}
#slider-container{
    margin: 0 0 10vw 10vw;
    overflow: hidden;
}
#slider-container #slider{
    display: flex;
    flex-wrap: nowrap;
    gap: 1vw;
    animation: transform 12s infinite ease-in-out;
}
#slider img{
    width: 30vw;
}
@keyframes transform{
    0%,
    20%{
        transform: translateX(0);
    }
    25%,
    45%{
        transform: translateX(-100%);
    }
    50%,
    70%{
        transform: translateX(-200%);
    }
    75%,
    95%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-400);
    }
}
.service{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin:5vw 10vw 5vw ;
}
.service-txt{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 50%;
    text-align: justify;
}
.service img{
    max-width: 40%;
}
.service2-txt{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    text-align: justify;
}
.service h2{
    color: #A31B1E;
    font-family: Castoro;
    font-size: 32px;
}
footer{
    background-color: #A31B1E;
}
#headfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3vw 0;
    padding: 2vw 0;
}
#headfooter h1{
    font-size: 18px ;
    margin: 0;
}
#reseau{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
#headfooter a{
    min-width: 1.5vw;
}
#headfooter img{
    display: flex;
    justify-content: center;
}
#line{
    display: flex;
    align-items: center;
    justify-content: center;
}
#horizontal-line{
    width: 95%;
    height: 1px;
    background-color: #DBD6C8;
}
#bottomfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3vw 0;
    padding: 2vw 0;
}
#bottomfooter ul{
    padding: 0;
}
#bottomfooter a{
    padding-left: 0;
    color: #DBD6C8;
    text-decoration: none;
    font-size: 12px;
}
.vertical-line{
    height: 30vw;
    width: 1px;
    background-color: #DBD6C8;
}
.lieu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.reservation .lieu input{
    width: 40vw; 
}
.reservation{
    display: flex;
    margin-bottom: 5vw;
}
#form-gauche{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 5vw 0 ;
}
#form-droite{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 5vw 0 ;
}
#aller-retour input{
    width: 1vw;
    margin: 0 2vw 2vw 0;
    height: 1vw;
}
#aller-retour{
    margin-top: 2vw;
}
#date-horaire{
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}
#date{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#horaire{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#adulte-enfant-bebe{
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}
.adulte{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#nom-prenom{
    margin-top: 3.5vw;
    display: flex;
    justify-content: space-between;
    gap: 12vw;
}
.nom{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#phone-email{
    display: flex;
    justify-content: space-between;
    gap: 12vw;
}
.phone{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#comment{
    display: flex;
    flex-direction: column;
}
.reservation h2{
    font-size: 24px;
    font-family: "Konkhmer Sleokchher";
    margin-bottom: 2vw;
    font-weight: normal;
}
.reservation input{
    width: 12.5vw;
    height: 2vw;
    border: #DBD6C8 solid 1px;
    border-radius: 5px;
    margin: 1vw 0 2vw;
    font-size: 16px;
    font-family: "Inter";
}
.reservation textarea{
    width: 38vw;
    height: 10vw;
    border: #DBD6C8 solid 1px;
    border-radius: 5px;
    margin: 1vw 0 2vw;
    font-size: 16px;
    font-family: "Inter";
}
#submit{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#submit button{
    background-color: #A31B1E;
    width: 7vw;
    height: 3.5vw;
    border: #A31B1E solid 1px;
    border-radius: 10px;
    color: #DBD6C8;
    font-size: 16px;
    font-family: "Konkhmer Sleokchher";
}
#submit button:hover{
    background-color: #DBD6C8;
    color: #A31B1E;
    border: #DBD6C8;
}
#contact {
    background: rgba(211, 211, 211, 0.5);
    background-image: url(Images/AdobeStock_509058265\ 1.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vw;
}
.vline{
    display: flex;
    align-items: center;
    justify-content: center;
}
#coordonnees{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin: 5vw 0;
}
#telephone{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    width: 33vw;
}
#mail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    width: 33vw;
}
#dispo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    width: 33vw;
}
#coordonnees img{
    width: 3vw;
}
#contactez-nous h1{
    font-family: "Konkhmer Sleokchher";
    font-size: 90px;
    margin: 0;
}
#message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5vw;
}
#message input{
    width: 19vw;
    height: 4vw;
    border: #DBD6C8 solid 3px;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Inter";
    color: #DBD6C8;
    background-color: #232323;
}
#npte{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4vw;
    margin: 5vw 0;
}
#message textarea{
    width: 90vw;
    height: 20vw;
    border: #DBD6C8 solid 3px;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Inter";
    background-color: #232323;
    color: #DBD6C8;
    margin-bottom: 2vw;
}
::placeholder{
    color: #DBD6C8;
    padding-left: 1vw;
}
#message textarea::placeholder{
    padding: 1vw;
}
.type-service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    margin: 5vw;
}
.type-service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1vw;
    margin: 5vw 0;
}
.type-service-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5vw;
    margin: 0 6vw;
}
.type-service-button a{
    text-decoration: none;
    background-color: #DBD6C8;
    width: 100%;
    font-size: 20px;
    font-family: "Konkhmer Sleokchher";
    color: #A31B1E;
    text-align: center;
    border: #DBD6C8 solid 1px;
    border-radius: 10px;
    padding: 1vw 0;
}
.type-service-button a:hover{
    color: #DBD6C8;
    background-color: #A31B1E;
    border: #A31B1E solid 1px;
}
.type-service-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1vw;
    margin: 0 6vw;
    font-size: 20px;
}
.type-service-text h1{
    font-size: 44px;
}
.type-service-text h3{
    margin-bottom: 0;
}